body {
    padding-top: 200px;
    font-size: 15px !important;
}

h2 {
    font-weight: bold !important;
    margin-bottom: 50px !important;
    color: #669900 !important;
}

h4 {
    font-weight: bold !important;
    margin-bottom: 20px !important;
    color: #669900 !important;
    text-align: center;
}

hr {
    box-shadow: 0 0 5px 1px #669900;
}

a {
    text-decoration: none !important;
}

a:hover {
    font-style: italic;
    font-weight: bold;
}

form {
    background-color: #e9f8ba !important;
    margin-bottom: 100px !important;
    border: 3px solid #669900 !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #669900 !important;
    box-shadow: 0px 0px 4px #669900 !important;
}

.title_form {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn-default,
.label-default {
    background-color: #669900 !important;
    color: white !important;
    font-weight: bold !important;
    border-color: #669900 !important;
}

.btn-warning {
    background-color: #ed8f14 !important;
    color: white !important;
    font-weight: bold !important;
    border-color: #ed8f14 !important;
}

.btn-info {
    background-color: #829895 !important;
    color: white !important;
    font-weight: bold !important;
    border-color: #829895 !important;
}

.label-default,
.fa-eraser, .fa-filter {
    cursor: pointer;
}


.btn-danger {
    font-weight: bold !important;
    background-color: rgb(223, 22, 0) !important;
}

.btn-default:hover {
    background-color: white !important;
    color: #669900 !important;
}

.btn-danger:hover {
    background-color: white !important;
    color: rgb(223, 22, 0) !important;
}

.btn-warning:hover {
    background-color: white !important;
    color: #ed8f14 !important;
}

.btn-info:hover {
    background-color: white !important;
    color: #829895 !important;
}

#logo {
    position: absolute;
    top: -20px;
}

nav {
    background-color: #669900 !important;
    min-height: 100px !important;
    color: white;
}

#menu_connection {
    color: white;
}

nav a:hover {
    color: red;
}

nav a {
    color: white !important;
}

.icon-bar {
    background-color: white !important;
}

.navbar-toggle:hover {
    background-color: rgb(124, 185, 0) !important;
}

.navbar-toggle, .badge {
    border-color: #669900 !important;
    background-color: #669900 !important;
}

#menu_header {
    padding-top: 15px;
}

#loyalty_program a {
    color: #669900;
    font-weight: bold;
    font-size: 18px;
    float: right;
    border-bottom: 3px solid #669900;
    margin-top: -50px;
}

#info,
#confirm_validate {
    max-width: 50%;
    margin-left: 30%;
    margin-top: 20px;
}

#authenticated_admin,
#authenticated_user {
    margin-right: 70px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #669900 !important;
}

.dropdown-menu {
    background-color: #669900 !important;
    border: 2px solid #e9f8ba !important;
}

.dropdown-menu a {
    background-color: #669900 !important;
    font-weight: bold !important;
}

#title_message {
    text-align: center;
    margin-bottom: 50px;
}

.modal-header,
#tableProducts {
    background-color: #e9f8ba;
}


#clickpizza,
#googlemap h3 {
    color: #669900;
}

#slogan {
    font-size: 20px;
}

section,
.alert-danger,
.alert-success {
    text-align: center;
}

#list_menus a,
#list_menus_admin a {
    font-weight: bold;
    color: #669900;
    text-align: left;
    font-size: 18px;
}

#actionsAdmin a {
    font-weight: bold;
    color: #669900;
    font-size: 18px;
}

#list_menus a:hover,
#actionsAdmin a:hover,
#list_menus_admin a:hover {
    background-color: #669900 !important;
    color: white;
}

#googlemap h3,
#googlemap p {
    margin-left: 25%;
    font-weight: bold;
}

.info-email {
    display: none;
}

#commodityDescriptionSmallScreen {
    display: none;
}

.paging-small-screen {
    display: none;
}

div .paging {
    margin: 20px 0 20px 35%;
}
.paging-order a {
    color: #669900;
    border: 1px solid rgba(102,153,0,0.6);
    padding: 10px;
    border-bottom: 3px solid #669900;
    font-weight: bold;
}
.paging-order a:hover {
    color: white;
    background-color: #669900;
}
.current-page {
    background-color: #e9f8ba !important;
    pointer-events: none;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 70px;
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

#logo_contact {
    display: flex;
    justify-content: center;
}

#contact {
    border-left: 1px solid white;
    padding-top: 40px;
    padding-left: 20px;
}

#logo_footer {
    padding-right: 10px;
}

.recommendation {
    font-size: 11px;
    padding-bottom: 10px;
    margin-top: 10px;
}

/* Media queries */

/* Any type of screen whose width is at most 1024) */
@media all and (max-width: 1024px) {
    div .paging {
    margin-left: 30%;
    }
}

/* Any type of screen whose width is at most 768px), tablet type */

@media all and (max-width: 768px) {
    #info,
    #confirm_validate {
        max-width: 80%;
        margin-left: 10%;
    }
    #authenticated_admin,
    #authenticated_user {
        margin-right: 0;
    }
    div .paging {
    margin-left: 25%;
    }
    #menu_map {
        display: none;
    }
}

/* Any type of screen whose width is at most 650px */

@media all and (max-width: 650px) {
    .paging, .order-date-td-table, .order-date-th-table, .order-price-th-email, .order-price-td-email, .user-email-th-table, .user-email-td-table, #commodityDescriptionLargeScreen {
        display: none;
    }
    .paging-small-screen {
        display: block;
    }
    div .paging-small-screen {
        margin-left: 35%;
    }
    .info-email, #commodityDescriptionSmallScreen {
        display: block;
    }
    #listOrdersModal {
        margin-bottom: -20px !important;
    }

}

/* Any type of screen whose width is at most 500px */

@media all and (max-width: 500px) {
    nav img {
        width: 60%;
    }
    #logo {
        top: 20px;
    }
    table {
        font-size: 13px;
    }
    iframe {
        width: 340px;
    }
    div .paging-small-screen {
        margin-left: 30%;
    }
    .admin-pseudo-th-table, .admin-pseudo-td-table {
        display: none;
    }
}

/* Any type of screen whose width is at most 380px */

@media all and (max-width: 380px) {
    nav img {
        width: 40%;
    }
    #logo {
        top: -10px;
        left: -10px;
    }
    .modal-body {
        font-size: 12px !important;
        padding-left: 5px !important;
    }
    #commodity_description,
    table {
        font-size: 11px;
    }
    iframe {
        width: 280px;
    }
    button, #inputForPicture input, #inputForChangePwd {
        font-size: 11px !important;
    }
    div .paging-small-screen {
        margin-left: 25%;
    }
    .commodity-type-td-table, .commodity-type-th-table, .admin-firstname-td-table, .admin-firstname-th-table {
        display: none;
    }
    #caddy-full td {
        font-size: 10px !important;
    }
    #listOrdersModal {
        margin-left: 10px;
    }
}

/* any type of screen whose width is at most 320px */

@media all and (max-width: 320px) {
    #commodity_description {
        font-size: 1Opx;
    }
    iframe {
        width: 240px;
    }
    .order-name-td-table, .order-name-th-table {
        display: none;
    }
    #inputForPicture input {
        font-size: 10px !important;
    }
    #caddy-full td {
        font-size: 8px !important;
    }
}
